:root {
    --backround-color:blue;
    --primary-color:white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: darkblue;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / NAV BAR STYLES START */ 

.hero {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-position: 40%;
}

.hero h2 {
    position: absolute;
    bottom: 550px;
    right: 0px;
}

header {
    background-color: darkgray;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    color: darkblue;
}

header h1 {
    padding: 10px 15px;
    color: darkblue;
}

header a {
    color:var(--primary-color);
}

/*ABOUT ME SECTION STYLES START */

.about-me {
    color: darkblue;
    display: flex;
    flex-wrap: wrap;
}

.about-me h3 {
    margin-left: 130px;
    width: 75%;
}

.about-me h2 {
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: darkblue;
    position: relative;
    margin-right: 1800px;
    text-align: right;
    padding: 5px;
    width: 15%;
}

/* PROJECTS SECTION STYLES START */

.project {
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
  }

.work {
    margin: 20px;
    flex: 1;
    background: turquoise;
    color: blue;
}

.project-description h3 {
    font-size: 28px;
}

.project-description {
    font-size: 22px;
    margin-bottom: 15px;
}

.project-image {
    width: 100%;
}

/* PROJECTS SECTION STYLES END */

/* FOOTER STYLES START */
footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: darkgrey;
    justify-content: center;
}

footer > * {
    flex: 1;
    margin: 15px;
}

footer div {
    color: darkblue;
    line-height: 2.5;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

footer h2 {
    color:darkblue;
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: darkblue;
    position: relative;
    margin-right: 1800px;
    text-align: right;
    padding: 5px;
}

/* FOOTER STYLES END */