:root {
    --backround-color:blue;
    --primary-color:white;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:black;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / NAV BAR STYLES START */ 

.hero {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-position: 40%;
}

.hero h2 {
    position: absolute;
    bottom: 550px;
    right: 0px;
}

header {
    background-color: darkgray;
    padding: 10px 20px;
    font-weight: bold;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    color: black;
}

header h1 {
    padding: 10px 15px;
    color: black;
}

header a {
    color:var(--primary-color);
}

/*ABOUT ME SECTION STYLES START */

.about-me {
    color:black;
}

.about-me h3 {
    text-align: right;
}

.about-me h2 {
    border-style: solid;
    border-width: 0 10px 0 0;
    border-color: black;
    position: relative;
}


/* MAIN SECTION STYLES START */

main{
    display: flex;
    margin-top: 2%;
    flex-direction: flex;
    flex-wrap: wrap;
}

main h1 {
    color:black;
    padding-right: 50px;
}

.project {
    flex: 1 0 0;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
}

.project h1 {
    color: black;
}

.project header {
    color:black
}

.photo {
    max-width: fit-content;
    max-height: fit-content;
}
/* MAIN SECTION STYLES END */

/* FOOTER STYLES START */
footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: darkgrey;
}

footer div {
    color: black;
    line-height: 1.5;
    text-align: right;
}

footer h2 {
    color:black;
    border-right: 20px;
    border-color: purple;
}

/* FOOTER STYLES END */