:root {
    --backround-color:blue;
    --primary-color:white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: darkblue;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / NAV BAR STYLES START */ 

.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url("../assets/images/nepal-2184940__340.webp");
    background-size: cover;
    background-position: 40%;
}

.hero-h2 {
    margin-top: 170px;
}

header {
    background-color: darkgray;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    color: darkblue;
}

header h1 {
    padding: 10px 15px;
    color: darkblue;
}

header a {
    color:var(--primary-color);
}

/*ABOUT ME SECTION STYLES START */

.about-me {
    color: darkblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-me h3 {
    flex: 0 0 80%;
    padding-left: 75px;
}

.about-me h2 {
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: darkblue;
    padding: 5px;
    padding-right: 80px;
}

/* PROJECTS SECTION STYLES START */
.first-project {
    width: 80%;
    margin-left: 250px;
}

.project {
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: darkblue;
    margin-right: 1705px;
  }

.work {
    margin: 20px;
    flex: 1;
    background:lightskyblue;
    color: blue;
}

.work h1 {
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: darkblue;
    padding: 5px;
    padding-right: 80px;
}

.projects h1 {
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: darkblue;
}

.project-description h3 {
    font-size: 28px;
}

.project-description {
    font-size: 22px;
    margin-bottom: 15px;
}

.project-image {
    width: 100%;
}

/* PROJECTS SECTION STYLES END */

/* FOOTER STYLES START */
footer {
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkgrey;
}

footer div {
    color: darkblue;
    line-height: 2.5;
    font-weight: bold;
    padding-left: 20px;
    justify-content: right;
}

footer h2 {
    color:darkblue;
    border-style: solid;
    border-width: 0 3px 0 0;
    border-color: darkblue;
    padding: 5px;
}

/* FOOTER STYLES END */